@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
    Font-size: 18px
}

.logo{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    gap: 15px;
    
}

.background_desktop{
    background-image: url("images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.logo img{
    width: 80px;
}

.btn{
    display: flex;
    gap: 20px;
}

.btn_1{
    background-color: hsl(171, 66%, 44%);
    padding: 14px 36px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.btn_2{
    background-color: hsl(233, 100%, 69%);
    padding: 14px 36px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.hero{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    gap: 30px;
}

.search{
    padding-top: 50px;
    display: flex;
    gap: 120px;

}

.search img{
    width: 40%;
}

.search_description{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.search_descrip{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.devices{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.devices img{
    width: 40%;
}

.cards{
    padding-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card img{
    width: 40px;
}

.sponsors{
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.download{
    padding-top: 100px;
}

.footer{
    padding-top: 40px;
    margin-top: 100px;
    background-color: hsl(195, 29%, 95%);
    width: 100%;
    height: 120px;

    display: flex;
    justify-content:space-between;
}
.footer_left, .footer_right{
    padding-left: 10%;
    padding-right: 10%;
}

.footer_nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_nav a{
    text-decoration: none;
    color: black;
}

.footer_right img{
    width: 20px;
    margin: 0 8px;
}
.footer_left img{
    width: 40px;
}

p{
    max-width: 650px;
}


@media (max-width: 768px) {
    .background_desktop{
        background-image: url("images/bg-header-mobile.png");
    }

    .hero{
        margin-top: 150px;
    }

    .btn{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .search{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 40px;
    }

    .cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .sponsors{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .sponsors img{
        width: 30%;
        height: auto;
     
    }

    .footer{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        gap: 20px;
        padding: 30px 10%;
    }

    .footer_nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer_left, .footer_right{
        display: flex;
        justify-content: center;
    }
    .search img{
        width: 90%;
        height: auto;
    }

    .devices img{
        width: 100%;
        height: auto;
    }

    h2{
        max-width: 270px;
    }
    p{
        max-width: 450px;
    }
}